{% extends "base.twig" %}

{% block content %}
    <div id="content" style="display: none;">
        <div class="text_block">
            <a href="/">
                <h1>404</h1>
                <h1>Page not found</h1>
            </a>
        </div>
    </div>
{% endblock %}